.timer{
    /* border: solid;*/
     display:flex;
     flex-direction: column;
     text-align: center;
     margin:50px;
     height:400px;
     
   }
   .time-text{
     display:flex;
     justify-content: space-around;
     color:grey;
     padding:0px 470px;
     margin:10px;
   }
   .time-nombre{
    /* border: solid red;*/
     font-size: 80px;
     text-align: center;
     
     margin:15px;
   }
   
   .bouton{
     /*border: solid;*/
     display: flex;
     justify-content: space-around;
     margin-top:100px;
    height:100px;
     border-radius:7px;
     padding:0px 250px;
          text-align: center;
   
     }
     .bouton button{
        font-size: 18px;
       height:50px;
       width:200px;
       
       border-radius:5px;
       text-align: center;
     }
     .bouton1{
         color:blue;
         border-color:blue;
         background-color: white;
     }
     .bouton2{
         background-color: white;
        color:black;
        border-color:black;
    }